.PanelHeader
  border-color #e7e7e7
  background-color #fff
  
  color #333

  padding 20px
  
  border-bottom 1px solid transparent
  border-top-right-radius 3px
  border-top-left-radius 3px

  h4
    margin-top 0
    margin-bottom 0

    font-size 18px
    color #111

    font-weight 500

  p
    font-size 13px
    margin-top 10px
    margin-bottom 0
    color #77818e
