{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Пресс-центр{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=719836064773926&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {{ parent() }}
{% endblock %}

{% block section %}
<!-- container -->
<div class="container">
    <!-- head -->
    <div class="head">
        <div class="head__right">
            <div class="head__city">
              {% include "Engage360dTakedaBundle::geo_ip_city.html.twig" %}
            </div>
      {% if app.user %}
      <div class="head__out">
        <a href="/sign-out">Выход</a>
      </div>
      {% endif %}
        </div>
        <div class="head__left">
            <!-- h -->
            <div class="h">Пресс-центр</div>
        </div>
    </div>
    <!-- press -->
    <div class="press">
        <!-- h -->
        <div class="h h_2 h_border">Главное за неделю</div>
        <div class="press__list">
            {{ include('Engage360dTakedaBundle:PressCenter:week_summary.html.twig') }}
        </div>
    </div>
    <!-- widgets -->
    <div class="widgets">
        <!-- subscribe-form -->
        <form class="subscribe-form js-subscribe">
            <div class="subscribe-form__title">Подписка на обновления</div>
            <div class="subscribe-form__text">Дайджест новостей, статей и мнений специалистов</div>
            <div class="subscribe-form__field">
                <input type="text" placeholder="Email" />
            </div>
            <div class="subscribe-form__go">
                <button type="submit" class="link link_white"><span>Подписаться</span><i></i></button>
            </div>
        </form>
        <!-- soc-widget -->
        <div class="soc-widget">
            <ul class="soc-widget__nav">
                <li class="is-active"><a class="soc-widget__fb" href="#">Facebook</a></li>
                <li><a class="soc-widget__tw" href="#">Twitter</a></li>
            </ul>
            <div class="soc-widget__in">
                <div class="soc-widget__item">
                    <div class="fb-like-box" data-href="https://www.facebook.com/CardiomagnylDev" data-width="455" data-height="217" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
                <div class="soc-widget__item soc-widget__item__tw" style="display: none">
                    <a class="twitter-timeline"  href="https://twitter.com/Cardiomagnyl" data-widget-id="576369820968579072">Tweets by @Cardiomagnyl</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
    <div id="NewsList"></div>
    <div id="OpinionList"></div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        takeda.render(takeda.NewsList, 'NewsList', {
            articles: {{ news | serialize | raw }}
        });
        takeda.render(takeda.OpinionList, 'OpinionList', {
            opinions: {{ opinions | serialize | raw }}
        });
    </script>
    <script>
        (function () {
            var $ = takeda.$;
            var buttons = $('.soc-widget__nav li');
            var widgets = $('.soc-widget__item');
            buttons.click(function (e) {
                e.preventDefault();
                if ($(this).hasClass('.is-active')) {
                    return;
                }
                var index = buttons.index($(this));
                buttons.eq(index).addClass('is-active');
                buttons.eq((index + 1) % 2).removeClass('is-active');
                widgets.eq(index).show();
                widgets.eq((index + 1) % 2).hide();
            });
        }());
    </script>
{% endblock %}
