{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Пресс-центр{% endblock %}

{% block section %}
<!-- container -->
<div class="container">
    <!-- head -->
    <div class="head">
        <div class="head__right">
            <div class="head__city">
                <a href="#"><i class="icon icon-marker"></i><span>Москва</span></a>
            </div>
        </div>
        <div class="head__left">
            <!-- h -->
            <div class="h">Пресс-центр</div>
        </div>
    </div>
    <!-- press -->
    <div class="press">
        <!-- h -->
        <div class="h h_2 h_border">Главное за неделю</div>
        <div class="press__list">
            {{ include('Engage360dTakedaBundle:PressCenter:week_summary.html.twig') }}
        </div>
    </div>
    <!-- widgets -->
    <div class="widgets">
        <!-- subscribe-form -->
        <div class="subscribe-form">
            <div class="subscribe-form__title">Подписка на обновления</div>
            <div class="subscribe-form__text">Дайджест новостей, статей и мнений специалистов</div>
            <div class="subscribe-form__field">
                <input type="text" placeholder="Email">
            </div>
            <div class="subscribe-form__go">
                <a class="link link_white" href="#"><span>Подписаться</span><i></i></a>
            </div>
        </div>
        <!-- soc-widget -->
        <div class="soc-widget">
            <ul class="soc-widget__nav">
                <li class="is-active"><a class="soc-widget__fb" href="#">Facebook</a></li>
                <li><a class="soc-widget__tw" href="#">Twitter</a></li>
            </ul>
            <div class="soc-widget__in">
                <div class="soc-widget__item">
                    <img src="http://placehold.it/380x160" alt="">
                </div>
                <div class="soc-widget__item" style="display: none">
                    <img src="http://placehold.it/380x160" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="NewsList"></div>
    <div id="OpinionList"></div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        takeda.render(takeda.NewsList, 'NewsList', {
            articles: {{ news | serialize | raw }}
        });
        takeda.render(takeda.OpinionList, 'OpinionList', {
            opinions: {{ opinions | serialize | raw }}
        });
    </script>
{% endblock %}