{% extends "Engage360dTakedaBundle::base.html.twig" %}

{% block body %}
<!-- wrapper-->
<div class="wrapper">
  <!-- aside -->
  <div class="aside">
    <!-- logo -->
    <div class="logo">
      <a class="logo__pic" style="display: block" href="/"></a>
    </div>
    <!-- nav -->
    <nav class="nav">
      <ul>
        <li><a href="{{ path('engage360d_takeda_account_recommendations') }}">Личный кабинет<i class="icon icon-user"></i></a></li>
        <li><a href="#">Препарат</a></li>
        <li><a href="/disease">Болезни группы риска</a></li>
        <li{# class="is-active"#}><a href="#">Полезно знать</a></li>
        <li><a href="{{ path('engage360d_takeda_risk_analysis') }}">Анализ рисков</a></li>
        <li><a href="{{ path('engage360d_takeda_institutions') }}">Поиск учереждений</a></li>
        <li><a href="/press-center">Пресс-центр</a></li>
      </ul>
    </nav>
    <!-- search-form -->
    <form class="search-form" method="get" action="{{ path('engage360d_takeda_search') }}">
      <input type="text" placeholder="Поиск" name="query" />
      <button><i class="icon icon-search"></i></button>
    </form>
    <!-- links -->
    <ul class="links">
      <li><a href="/about/about">О компании</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
    <!-- app -->
    <ul class="links-app">
      <li><a href="#"><span>IPhone</span><i class="icon icon-os-ios"></i></a></li>
      <li><a href="#"><span>Android</span><i class="icon icon-os-android"></i></a></li>
    </ul>
    <!-- social -->
    <ul class="social">
      <li><a class="social__vk" href="#"><i class="icon icon-soc-vk"></i></a></li>
      <li><a class="social__fb" href="#"><i class="icon icon-soc-fb"></i></a></li>
      <li><a class="social__ok" href="#"><i class="icon icon-soc-ok"></i></a></li>
    </ul>
    <!-- subscribe -->
    <form class="subscribe js-subscribe">
      <label>
        <input type="text" placeholder="Подписка на обновления">
        <button class="subscribe__btn"><i class="icon icon-mail"></i></button>
      </label>
    </form>
    <script>
      (function() {
        var $ = takeda.$;
        var progress = false;

        $(function(){
          $('.js-subscribe').each(function(){
          var $form = $(this);
          var $input = $form.find('input');

          $form.submit(function(event) {
            event.preventDefault();
            if (progress) return;
            var email = $input.val();
            if (!/.+@.+\..+/.test(email)) {
              return alert('Неверный адрес электронной почты');
            }
            progress = true;
            $.post('/api/v1/subscription-contacts', {
              data: {email: email}
            }, function(data) {
              progress = false;
              if (data.data) {
                $input.val('');
                alert('Вы успешно подписаны на обновления');
              } else {
                alert('Произошла неизвестная ошибка, пожалуйста попробуйте позже');
              }
            });
          });
          });
        });
      })();
    </script>
    <!-- footer -->
    <footer class="footer">
      <div class="footer__info">Имеются противопоказания. Необходимо ознакомиться с инструкцией или проконсультироватся со специалистом.</div>
      <a class="takeda" href="#"></a>
      <div class="copyright">© 2013 Takeda</div>
    </footer>
  </div>
  <!-- section -->
  <div class="section">
    {% block section %}{% endblock %}
  </div>
</div>
{% endblock %}
