/web/bundles/
/web/assets/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/app/Resources/admin/node_modules/
/node_modules/
*.swp
app/var/*
/web/client/
/phpunit.phar
/.we.json
*~
.idea/
auth.json
