.range__val a
  position absolute
  width 28px
  height 28px
  margin-left -14px
  background #2269c8
  border-radius 50%
  line-height 27px
  text-align center
  color white
  cursor pointer
  user-select none
  z-index 2

.range__val a.touch
  margin-top -50px
  margin-left -25px
  width 50px
  height 50px
  font-size 25px
  line-height 50px