{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Анализ рисков{% endblock %}

{% block section %}
<div id="RiskAnalysis"></div>
{% endblock %}

{% block scripts %}
<script>
  takeda.render(takeda.RiskAnalysis, 'RiskAnalysis', {
    geoIPCity: {{ geo_ip_city | serialize | raw }},
    regions: {{ regions | serialize | raw }},
    user: {{ user | serialize | raw }}
  });
</script>
{% endblock %}
