{% extends "Engage360dTakedaBundle::layout.html.twig" %}

{% block title %}Препарат{% endblock %}

{% block section %}
<style>
  .content-about li {
    margin: 10px 0;
  }
  .content-about h2 {
    margin: 30px 0 10px;
  }
</style>
<div class="container">
  <div class="head">
    <div class="head__right">
      <div class="head__city">
        {% include "Engage360dTakedaBundle::geo_ip_city.html.twig" %}
      </div>
    </div>
    <div class="head__left">
      <!-- h -->
      <div class="h">Кардиомагнил</div>
    </div>
  </div>
  <!-- content -->
  <div class="content content-about">
    <p>Это единственная в России комбинация ацетилсалициловой кислоты и гидроксида магния для первичной и вторичной профилактики тромбообразования.</p>
    <div style="left: 0;position: absolute; width: 100%; height: 400px; background: url(/img/about-product.png) no-repeat; background-size: 100%;"></div>
    <div style="height: 420px"></div>
    <table>
      <tr>
        <td style="padding-right: 10px;">
          <h2>Основными показаниями для приема препарата Кардиомагнил являются:</h2>
          <ul>
            <li>Первичная и вторичная профилактика сердечно-сосудистых заболеваний, сопровождающихся повышенной агрегацией тромбоцитов таких как тромбоз и острая сердечная недостаточность при наличии факторов риска (например, сахарный диабет, гиперлипидемия, артериальная гипертензия, ожирение, курение, пожилой возраст)</li>
            <li>Профилактика  нарушений мозгового кровообращения по ишемическому типу (в. т. ч. ишемического инсульта)</li>
            <li>Профилактика повторного инфаркта миокарда и тромбоза кровеносных сосудов</li>
            <li>Нестабильной стенокардии</li>
            <li>В послеоперационном периоде после оперативных вмешательств на сердце и сосудах (в т.ч. после аорто-коронарного шунтирования и чрескожной транслюминальной коронарной ангиопластики).</li>
          </ul>
          <h2>Форма выпуска</h2>
          <p>Препарат Кардиомагнил выпускается в специальных кардиологических дозировках, соответствующих Российским           и международным рекомендациям.</p>
          <h2>Кардиомагнил 75 мг содержит</h2>
          <p>75 мг АСК и 15,2мг Гидроксида магния, таблетки в форме стилизованного «сердца».</p>
          <h2>Кардиомагнил 150 мг содержит</h2>
          <p>АСК 150 мг и 30,39мг гидроксида магния. Таблетки овальной формы с риской на одной стороне</p>
          <h2>Производитель</h2>
          <p>Скандинавская компания Никомед (более 125 лет на благо здоровья) -  традиции Европейского качества, современные мощности, более 15 лет сотрудничества с Россией - Никомед         на рынке России и СНГ с 1998 года.</p>
        </td>
        <td style="padding-left: 20px; border-left: 1px solid #D9D9D9; width: 35%">
          <h2>Ацетилсалициловая кислота</h2>
          <p>Широко известный и наиболее изученный на сегодняшний день антиагрегант, механизм действия которого связан с блокадой фермента циклооксигеназы.             В результате этого снижается агрегационная активность тромбоцитов, уменьшается вязкость крови, повышается        ее текучесть, что препятствует образованию тромбов                    и закупорки ими просвета сосудов, тем самым снижая риск развития инфарктов и инсультов.</p>
          <h2>Гидроксид магния</h2>
          <p>Антацидное средство, часто применяемое  для лечения заболеваний ЖКТ. Его действие – это адсорбция соляной кислоты; снижение протеолитической активности желудочного сока, обволакивающий эффект; связывание лизолецитина             и желчных кислот, оказывающих негативное воздействие                на слизистую оболочку желудка. Доза гидроксида магния                  в составе кардиомагнила невелика и не влияет                     на всасывание и эффективность ацетилсалициловой кислоты.</p>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
