.Navigation
  width 210px
  padding 10px 15px
  background #1d2939
  display table-cell
  vertical-align top

  .NavigationTitle
    font-size 11px
    text-transform uppercase
    color #999
    margin-bottom 5px
