.NavigationItem
  position relative
  font-size 13px
  color #8f939e
  margin-top 2px
  padding 7px 10px
  -webkit-border-radius 3px
  border-radius 3px
  position relative
  display block
  text-decoration none

  &:hover
    background-color #fff
    color #1d2939
    box-shadow 0 3px 0 rgba(0,0,0,0.2)

  &-Active
    box-shadow 0 3px 0 rgba(0,0,0,0.2)
    background-color #1caf9a
    color #fff
    
    &:hover
      box-shadow 0 3px 0 rgba(0,0,0,0.2)
      background-color #1caf9a
      color #fff

  &-Expandable
    &:after
      content "+"
      position absolute
      right 8px

  &-Expanded
    &:after
      content "-"

  .fa
    margin-right 10px
