<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="viewport" content="initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/screen.css') }}" />
            <link rel="stylesheet" href="{{ asset('frontend.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!–[if IE]><script src="/js/html5shiv.js"></script><![endif]–>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-sham.min.js"></script>
            <![endif]-->
            <script src="/vendor/jquery.min.js"></script>
            <script src="/vendor/jquery.placeholder.js"></script>
            <script src="/vendor/microplugin.js"></script>
            <script src="/vendor/sifter.js"></script>
            <script src="/vendor/selectize.js"></script>
            <script src="{{ asset('client/client.js') }}"></script>
        {% endblock %}
    </body>
</html>
