{% extends "base.html.twig" %}

{% block body %}
<!-- wrapper-->
<div class="wrapper">
	<!-- aside -->
	<div class="aside">
		<!-- logo -->
		<div class="logo">
		  <a href="/">
			  <p class="logo__pic"></p>
			</a>
		</div>
		<!-- nav -->
		<nav class="nav">
			<ul>
				<li class="nav__cabina {% if app.request.attributes.get('_route') == 'engage360d_takeda_account' %}is-active{% endif %}"><a href="{{ path('engage360d_takeda_account') }}"><span>Личный кабинет</span><i></i></a></li>
        {% for menu in [] %}
          <li class="{% if app.request.requestUri == "" %}is-active{% endif %}">
            <a href="#">
              <span>{{ menu.name|e }}</span>
              <i></i>
            </a>
           </li>
        {% endfor %}
			</ul>
		</nav>
		<!-- search-form -->
		<div class="search-form">
            <form action="{{ path('engage360d_takeda_search_results_page') }}">
                <input type="text" placeholder="Поиск" name="query">
                <button><i></i></button>
            </form>
		</div>
		<!-- links -->
		<ul class="links">
			<li><a href="/category/about">О компании</a></li>
			<li><a href="/category/about/contacts">Контакты</a></li>
		</ul>
		<!-- links-app -->
		<ul class="links-app">
			<li>
				<a href="#">
					<span>IPhone</span>
					<i class="links-app__apple"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<span>Android</span>
					<i class="links-app__android"></i>
				</a>
			</li>
		</ul>
		<!-- social -->
		<ul class="social">
		  <li data-react-component="VkontakteButton"
		      data-reload-on-success="true"
		      data-connected="{% if app.user and app.user.vkontakteId %}true{% else %}false{% endif %}"/>
		  <li data-react-component="FacebookButton"
		      data-reload-on-success="true"
		      data-connected="{% if app.user and app.user.facebookId %}true{% else %}false{% endif %}"/>
		  <li data-react-component="OdnoklassnikiButton"
		      data-reload-on-success="true"
		      data-connected="{% if app.user and app.user.odnoklassnikiId %}true{% else %}false{% endif %}"/>
		</ul>
		<!-- subscribe -->
		<div class="subscribe">
			<label>
				<input type="text" placeholder="Подписка на обновления">
				<i class="subscribe__btn"></i>
			</label>
		</div>
		<!-- footer -->
		<footer class="footer">
			<div class="footer__info">Имеются противопоказания. Необходимо ознакомиться с инструкцией или проконсультироватся со специалистом.</div>
			<a class="takeda" href="http://www.takeda.com.ru/"></a>
			<div class="copyright">© 2014 Takeda</div>
		</footer>
	</div>
	<!-- section -->
	<div class="section">
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
