.Column
  display inline-block
  position relative
  padding-left 10px
  padding-right 10px
  min-height 1px

.Column-Size1
  width 8.333333333333332%

.Column-Size2
  width 16.666666666666664%

.Column-Size3
  width 25%

.Column-Size6
  width 50%
