parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path:     app/cache/db.sqlite

    mailer_transport:    smtp
    mailer_host:         127.0.0.1
    mailer_user:         ~
    mailer_password:     ~
    mailer_encryption:   ~
    mailer_auth_mode:    ~
    mailer_sender_email: ~

    # In order to translation service to work properly in English locale,
    # this property should be in the form language_country, e.g. "en_US".
    locale:            ru
    secret:            ThisTokenIsNotSoSecretChangeIt

    ssh_key.passphrase: YourPassPhrase
    ssh_keys_dir: app/var/jwt

    facebook_client_id: 600516100052490
    facebook_client_secret: 833fada0cce3dc7d430727467420ae59

    vkontakte_client_id: 4672457
    vkontakte_client_secret: 17L45R2M1u2EMROP1jhE

    google_client_id: 777555608048-ad2e7m4mfcn8vm9ug9olrfof0brjbvcb.apps.googleusercontent.com
    google_client_secret: JX-Ia1ideXlsn1rlO7AehAa2

    odnoklassniki_client_id: 1126090240
    odnoklassniki_client_secret: 48E60A55CB4CF49C3E5D3762
    odnoklassniki_application_key: CBAHMPBEEBABABABA

    twitter_consumer_key: nTR107drUJGhp7ARODDWvOSOB
    twitter_consumer_secret: 21N2adxIeKSlErrVohsZFxYnXluB3IUjjN29JdK2zsx2lz5Vx0

    api.base_url: "http://localhost/api/v1"

    engage360d.oauth.default_target_path: /oauth/connect/success

    unisender_key: 59qajmg4aqh4pwgesqtpftj1apm9hutxa3iufrro
    unisender_list: 3354164

    bcrypt_cost: 17    # bcrypt_cost can be in the range of 4-31