parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    database_path:     app/cache/db.sqlite

    mailer_transport:    smtp
    mailer_host:         127.0.0.1
    mailer_user:         ~
    mailer_password:     ~
    mailer_encryption:   ~
    mailer_auth_mode:    ~
    mailer_sender_email: ~

    # In order to translation service to work properly in English locale,
    # this property should be in the form language_country, e.g. "en_US".
    locale:            ru
    secret:            ThisTokenIsNotSoSecretChangeIt

    facebook_client_id: 719836064773926
    facebook_client_secret: cbbea3a7c220967efad4ff60822c59c1

    vkontakte_client_id: 4672457
    vkontakte_client_secret: 17L45R2M1u2EMROP1jhE
