{% extends "::base.html.twig" %}

{% block bodyclass %}registration-container{% endblock %}

{% block body %}
<div>
  <div data-react-component="Registration" user='{{ user | json_encode | raw }}' context="2"></div>
</div>
{% endblock %}

