.Grid
  width 100%
  background #fcfcfc
  box-shadow 0 3px 0 rgba(12,12,12,0.03)
  border-collapse collapse

.GridHeaderCell
  padding 8px
  font-size 15px
  text-align left
  border-bottom 2px solid rgba(12,12,12,0.03)
  cursor pointer
  font-weight normal
  color #444

  &.GridHeaderCellFilter
    border-bottom 2px solid transparent

.GridBody
  display table-row-group
  vertical-align middle
  
  .GridBodyRow:first-child
    .GridBodyCell
      border-top 1px solid transparent

.GridBodyCell
  padding 8px
  line-height 1.428571429
  vertical-align top
  border-top 1px solid #eee
  cursor pointer
  font-size 13px

  &.GridBodyCellActions
    text-align center

    .fa
      position relative
      top 2px
      margin-right 5px
      font-size 14px
      color #666
      
      &:hover
        color #444
