.ModalBackdrop
  position absolute
  z-index 99
  top 0px
  right 0px
  bottom 0px
  left 0px
  background rgba(255, 255, 255, 0.35)

.Modal
  position absolute
  z-index 100
  width 600px
  top 80px
  left 50%
  margin-left -300px
  background white
  box-shadow  1px 4px 6px rgba(0, 0, 0, 0.2)
  border-radius 2px

  .ModalHeader
    padding 15px
    border-bottom 1px solid #e5e5e5
    min-height 16.428571429px

    clearfix()

    span
      font-size 20px
      line-height 1.428571429
      color #333

    .ModalClose
      float right
      font-size 21px
      font-weight 700
      line-height 1
      color: #000
      text-shadow 0 1px 0 #fff
      opacity .2
      cursor pointer
      border 0px
      padding 0px
      background none
      box-shadow none
