{% extends "::layout.html.twig" %}

{% block content %}
<!-- page -->
		<div class="page">
			<!-- city -->
			<div class="city">
				<a href="#"><i></i><span>Москва</span></a>
			</div>
			<div class="title">Личный кабинет</div>
			<!-- layout -->
			<div class="layout">
				<div class="layout__column">
				</div>
			</div>
		</div>
{% endblock %}
