{% extends "::layout.html.twig" %}

{% block title %}Личный кабинет{% endblock %}
{% block description %}Личный кабинет{% endblock %}

{% block content %}
<!-- page -->
		<div class="page">
			<!-- city -->
			<div class="city">
				<a href="#"><i></i><span>Москва</span></a>
			</div>
			<div class="title">
			  {{ app.user.fullName }}
		  </div>
		</div>

    <div data-react-component="Account"></div>
{% endblock %}
