{% extends "::layout.html.twig" %}

{% block content %}
<!-- page -->
		<div class="page">
			<!-- city -->
			<div class="city">
				<a href="#"><i></i><span>Москва</span></a>
			</div>
			<div class="title">Личный кабинет</div>
			<!-- layout -->
			<div class="layout">
				<div class="layout__column">
					<div class="title title_level-2">Вход</div>
					<!-- data -->
					<div class="data">
						<div class="data__title">Личные данные</div>
						<!-- enter -->
						<div class="enter">
							<div class="field field_mod">
								<div class="field__in">
									<input type="text" placeholder="Имя">
								</div>
							</div>
							<div class="field">
								<div class="field__in">
									<input type="password" value="password">
								</div>
							</div>
							<div class="enter__link">
								<a class="link link_black" href="#"><span>Забыли пароль</span><i></i></a>
							</div>
							<div class="enter__btn">
								<button class="btn">Войти</button>
							</div>
						</div>
					</div>
				</div>
				<div class="layout__column">
					<div class="title title_level-2">Регистрация</div>
					<!-- data -->
					<div data-react-component="Registration"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
