{% extends "::base.html.twig" %}

{% block body %}
<div class="registration-container">
  <div data-react-component="Registration" user='{{ user | json_encode | raw }}' context="2"></div>
</div>
{% endblock %}

