{% extends "::layout.html.twig" %}

{% block content %}
<!-- page -->
		<div class="page">
			<!-- city -->
			<div class="city">
				<a href="#"><i></i><span>Москва</span></a>
			</div>
			<div class="title">Личный кабинет</div>
			<!-- layout -->
			<div class="layout">
				<div class="layout__column">
					<div class="title title_level-2">Вход</div>
					<!-- data -->
					<div data-react-component="Login"></div> 
				</div>
				<div class="layout__column">
					<div class="title title_level-2">Регистрация</div>
					<!-- data -->
					<div data-react-component="Registration"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
