global-reset()

@import "font-awesome/css/font-awesome.css"

html,body
  height 100%

body
  margin 0px
  background-color #e4e7ea

  font-family 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important
  line-height 21px
  color #636e7b

.Page
  background-color #e4e7ea
  
.PageBody
  min-height 1000px
  display table
  width 100%
