html(lang='ru-RU')
  head
    meta(charset='utf-8')
    title Engage360D Admin
    link(rel='stylesheet', media='screen', href='/bundles/admin.css')

    script(src='/bundles/admin.js')
    
    script(type='text/javascript').
      document.addEventListener('DOMContentLoaded', function () {
        init();
      });

  body
