html(lang='ru-RU')
  head
    meta(charset='utf-8', ng-app="Engage360D")
    title Engage360D Admin
    link(rel='stylesheet', media='screen', href='/admin.css')

    script(src='/admin.js')
    
    script(type='text/javascript').
      document.addEventListener('DOMContentLoaded', function () {
        require("admin")();
      });

  body
