.field_birthday .field__in
  width 115px

.cholesterol_warning
  position relative
  padding-left 27px

.cholesterol_warning:before
  width 19px
  height 19px
  content ""
  background-image url('../img/icons/validation-error.png')
  position absolute
  top 0px
  left 0px