.TabPanel
  .TabContainer
    background #d8dbde

    .Tab
      display inline-block
      padding 14px 20px
      cursor pointer
  
      &-Active
        background-color #fcfcfc

  .TabContent
    display none

    &-Active
      display block
