@import "selectize/dist/css/selectize.css"

.selectize-input
  height 27px
  padding 0 10px
  border 1px solid #c6c7c8
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 14px
  border-radius 0px
  box-shadow none

  &:after
    right 7px !important

  &.focus
    border-color #2269c8
    box-shadow none

  .item
    line-height 26px

.field__in_invalid
  .selectize-input
    border-color #ff0000
  