@import "selectize/dist/css/selectize.css"

.selectize-input
  height 27px
  padding 0 10px
  border 1px solid #c6c7c8
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 14px
  border-radius 0px
  box-shadow none
  
  position relative
  height 27px
  padding 0 30px 0 10px
  border 1px solid #424549
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 14px
  line-height 25px
  cursor pointer
  box-sizing border-box

  &:hover
    border-color #2269c8

  &:after
    right 7px !important
    
    position absolute
    top 9px
    right 7px

    background url('../img/icons-s7d7eb2614d.png') 0 -846px no-repeat
    width 14px
    height 8px

  &.focus
    border-color #2269c8
    box-shadow none

  .item
    line-height 26px

.field__in_invalid
  .selectize-input
    border-color #ff0000
  