.Button
  display inline-block
  border-radius 3px
  line-height 21px
  transition all 0.2s ease-out 0s
  padding 6px 15px
  margin-bottom 0
  font-weight 400
  text-align center
  vertical-align middle
  cursor pointer
  background-image none
  border 1px solid transparent
  white-space nowrap
  font-size 14px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

  &-Block
    display block
    width 100%
    padding-left 0
    padding-right 0

  &-Success
    color white
    background-color #1CAF9A
    border-color #17a08c

    &:hover
      background-color #17a08c
      border-color #119380

  &-Header
    margin 0px
    padding 15px 10px 14px 10px
    border-color #fff
    background #fff
    border-radius 0
    border 0
    outline 0
    color #636e7b
    font-size 13px

    &:focus, &:hover
      background #f9f9f9
      color #333
      box-shadow none

  &-Primary
    color #fff
    background-color #428bca
    border-color #357ebd

    &:focus, &:hover
      color #fff
      background-color #3276b1
      border-color #285e8e

  &-MenuToggle
    width 50px
    height 50px
    font-size 22px
    cursor pointer
    float left
    color #1d2939
    border-right 1px solid #eee
    transition all 0.2s ease-out 0s

    .fa
      font-size 22px
