@import "pikaday/css/pikaday.css"

.DateInput
  position relative

  .ui-datepicker-trigger
    position absolute
    top 0px
    right 0px
    
    padding 6px 12px
    font-size 14px
    font-weight 400
    line-height 1
    color #555
    text-align center
    background-color #eee
    border 1px solid #ccc
    border-radius 4px
