{% extends "::layout.html.twig" %}

{% block content %}
    <div class="city">
      <a href="#"><i></i><span>Москва</span></a>
    </div>
    <div class="title title_out">Анализ риска</div>

  {% if app.user and not app.user.doctor and app.user.testResults|length > 0 %}
    <p>Вы уже прошли тест</p>
  {% elseif app.user %}
    <div data-react-component="Test" data-firstname="{{ app.user.firstname }}" data-lastname="{{ app.user.lastname }}"></div>
  {% else %}
    <div data-react-component="Test"></div>
  {% endif %}
{% endblock %}
