{% extends "::layout.html.twig" %}

{% block content %}
<div class="page">
  <div class="city">
    <a href="#"><i></i><span>Москва</span></a>
  </div>
  <div class="title">Анализ риска</div>
</div>

{% if app.user and not app.user.doctor and app.user.testResults|length > 0 %}
<p>Вы уже прошли тест</p>
{% elseif app.user %}
<div data-react-component="Test" data-firstname="{{ app.user.firstname }}" data-lastname="{{ app.user.lastname }}"></div>
{% else %}
<div data-react-component="Test"></div>
{% endif %}

{#
<hr />
<hr />
<hr />
<hr />
<hr />

<!-- page -->
<div class="page page_step_3">
	<!-- result -->
	<div class="result">
		<div class="result__top">
			<div class="result__send is-active">
				<i class="result__send-ico"></i>
				<div class="result__send-in">
					<div class="field">
						<div class="field__label">Отправить результат тестирования по электронной почте</div>
						<div class="field__in">
							<input type="text" placeholder="email получателя"> 
						</div>
					</div>
					<button class="btn">Отправить</button>
				</div>
			</div>
			<div class="help help_white">
				<div class="help__ico"></div>
			</div>
		</div>
		<div class="result__val">
			<div class="result__val-blue" style="width: 32%"><span>32</span></div>
			<div class="result__val-red"></div>
		</div>
		<div class="result__diagnosis">Вероятность тяжелых сердечно-сосудистых заболеваний в ближайшие 10 лет</div>
		<div class="result__text"><i class="result__attention-big"></i>Не соответствует норме. Воспользуйтесь нашими рекомендациями</div>
		<!-- layout -->
		<div class="layout">
			<div class="layout__column">
				<!-- recomm -->
				<div class="recomm">
					<div class="recomm__item">
						<div class="recomm__title">Курение</div>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Группа риска</div>
							</div>
						</a>
					</div>
					<div class="recomm__item">
						<div class="recomm__title">Физическая активность</div>
						<a class="recomm__content" href="#">
							<i class="recomm__bell"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Физическая активность</div>
								<div class="recomm__text">
									<p>Отклонение от нормы 10%</p>
									<p>Необходимо улучшение</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__ok"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Вес</div>
								<div class="recomm__text">
									<p>Отклонение от нормы: 2%</p>
									<p>Все хорошо</p>
								</div>
							</div>
						</a>
					</div>
					<div class="recomm__item">
						<div class="recomm__title">Диета</div>
						<a class="recomm__content" href="#">
							<i class="recomm__bell is-active"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление соли</div>
								<div class="recomm__text">
									<p>Отклонение от нормы 10%</p>
									<p>Необходимо улучшение</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
								<div class="recomm__text">
									<p>Отклонение от нормы: 30%</p>
									<p>Группа риска</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
								<div class="recomm__text">
									<p>Отклонение от нормы: 30%</p>
									<p>Группа риска</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__ask"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Дополнительная корректировка диеты</div>
								<div class="recomm__text">
									<p>Пройти опрос</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="layout__column">
				<!-- recomm -->
				<div class="recomm">
					<div class="recomm__item">
						<div class="recomm__title">Рекомендации по SCORE</div>
						<a class="recomm__content" href="#">
							<i class="recomm__bell is-active"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление соли</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
								<div class="recomm__text">
									<p>Отклонение от нормы: 30%</p>
									<p>Группа риска</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__ask"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Дополнительная корректировка диеты</div>
								<div class="recomm__text">
									<p>Пройти опрос</p>
								</div>
							</div>
						</a>
					</div>
					<div class="recomm__item">
						<div class="recomm__title">Основные риски</div>
						<a class="recomm__content" href="#">
							<i class="recomm__bell is-active"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление соли</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__attention"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__doctor"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Потребление мучных изделий</div>
								<div class="recomm__text">
									<p>Отклонение от нормы: 30%</p>
									<p>Группа риска</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__ask"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Дополнительная корректировка диеты</div>
								<div class="recomm__text">
									<p>Пройти опрос</p>
								</div>
							</div>
						</a>
						<a class="recomm__content" href="#">
							<i class="recomm__doctor is-active"></i>
							<div class="recomm__item-sub">
								<div class="recomm__title-sub">Дополнительная корректировка диеты</div>
								<div class="recomm__text">
									<p>Пройти опрос</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#}
{% endblock %}
