.Header
  height 50px
  background #fff

  .HeaderNav
    float right

    .DropDown
      a
        display block
        padding 3px 20px
        clear both
        font-weight 400
        line-height 1.428571429
        white-space nowrap
        color #94989d
        font-size 13px
        padding 7px 10px
        border-radius 2px
        transition all 0.2s ease-out 0s
        text-decoration none
        
        &:hover
          background #1caf9a
          color #fff
