{% extends "::layout.html.twig" %}

{% block title %}Поиск{% endblock %}
{% block description %}Поиск{% endblock %}

{% block content %}
    <h1>Найденные страницы</h1>
    <table>
        <th></th>
        <th></th>

        {% for result in elasticaResult %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="#">{{ result.title }}</a></td>
            </tr>
        {% endfor %}
    </table>
   {{ elasticaResult|length == 0 ? 'Ничего не нейдено' : '' }}
{% endblock %}
