.calendar.is-error .calendar__ico {
  background: url("/img/icons/calendar-ico-red.png");
}

.range__val a {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  background: #2269c8;
  border-radius: 50%;
  line-height: 27px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}
.range__val a.touch {
  margin-top: -50px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}
.range__min_allowed {
  position: absolute;
  left: -35px;
}
.range__min_allowed span {
  display: block;
  height: 18px;
  line-height: 18px;
  position: relative;
  left: -50%;
}
.range__min_allowed i {
  display: block;
  width: 1px;
  height: 4px;
  background: #000;
}
.range__min_allowed i:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: #000;
}

.Modal {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 650px;
  margin-left: -325px;
  border: 1px solid #cdcdcd;
  padding: 20px;
  background: #fff;
  z-index: 1000;
}
.Modal .ModalTitle {
  margin-bottom: 15px;
  line-height: 1;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
}
.Modal .ModalClose {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 15px;
  height: 15px;
}
.Modal .ModalBody .field_mod_middle {
  margin-bottom: 10px;
}
.Modal .ModalBody .enter {
  border: 0px;
  padding-bottom: 0px;
}

.data__row_registration .data__label {
  padding: 6px 345px 0 0;
}
.data__row_registration .data__content {
  width: 330px;
}
.data__row_registration .field__in {
  width: 330px;
}
.data__row_registration .field__in input {
  padding: 0 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  text-align: left;
}
.field__in_invalid input {
  border-color: #f00;
}
.registration-container {
  width: 680px;
  padding: 50px;
  min-width: 680px;
  overflow: hidden;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.mainspec__item.mainspec__date .field__in {
  width: 120px;
}
.ChangePassword .enter {
  border: 0px;
}

.field_birthday .field__in {
  width: 115px;
}
.cholesterol_warning {
  position: relative;
  padding-left: 27px;
}
.cholesterol_warning:before {
  width: 19px;
  height: 19px;
  content: "";
  background-image: url("../img/icons/validation-error.png");
  position: absolute;
  top: 0px;
  left: 0px;
}

.radio__mod_checkbox span:before {
  border-radius: 0px;
}
.checkbox_invalid span:before {
  border-color: #f00;
}

@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 240px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}

/**
 * selectize.css (v0.8.5)
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  visibility: visible !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
          box-shadow: inset 0 0 12px 4px #ffffff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.selectize-dropdown-header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 20px !important;
  line-height: 20px;
  color: #303030;
  opacity: 0.4;
}

.selectize-dropdown-header-close:hover {
  color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  float: left;
  border-top: 0 none;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 17px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid #d0d0d0;
  -webkit-border-radius: 0 2px 2px 0;
     -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff;
}

.selectize-control {
  position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  display: inline-block;
  cursor: text;
  background: #ffffff;
}

.selectize-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px;
}

.selectize-input.full {
  background-color: #ffffff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}

.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.selectize-input > * {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: baseline;
  zoom: 1;
}

.selectize-control.multi .selectize-input > div {
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #303030;
  cursor: pointer;
  background: #f2f2f2;
  border: 0 solid #d0d0d0;
}

.selectize-control.multi .selectize-input > div.active {
  color: #303030;
  background: #e8e8e8;
  border: 0 solid #cacaca;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff;
}

.selectize-input > input {
  max-width: 100% !important;
  max-height: none !important;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 2px 0 0 !important;
  line-height: inherit !important;
  text-indent: 0 !important;
  background: none !important;
  border: 0 none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-user-select: auto !important;
}

.selectize-input > input:focus {
  outline: none !important;
}

.selectize-input::after {
  display: block;
  clear: left;
  content: ' ';
}

.selectize-input.dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #f0f0f0;
  content: ' ';
}

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0 0;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-top: 0 none;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.selectize-dropdown [data-selectable] {
  overflow: hidden;
  cursor: pointer;
}

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
  color: #303030;
  cursor: default;
  background: #ffffff;
}

.selectize-dropdown .active {
  color: #495c68;
  background-color: #f5fafd;
}

.selectize-dropdown .active.create {
  color: #495c68;
}

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}

.selectize-control.single .selectize-input:after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: ' ';
}

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px;
}

.selectize-control.rtl.single .selectize-input:after {
  right: auto;
  left: 15px;
}

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
  background-color: #fafafa;
  opacity: 0.5;
}
.selectize-input {
  height: 27px;
  padding: 0 10px;
  border: 1px solid #c6c7c8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  border-radius: 0px;
  box-shadow: none;
  position: relative;
  height: 27px;
  padding: 0 30px 0 10px;
  border: 1px solid #424549;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
  box-sizing: border-box;
}
.selectize-input:hover {
  border-color: #2269c8;
}
.selectize-input.focus {
  border-color: #2269c8;
  box-shadow: none !important;
  border-radius: 0px;
}
.selectize-input .item {
  line-height: 26px;
}
.selectize-control.single .selectize-input:after {
  right: 7px !important;
  border-width: 0px;
  position: absolute;
  top: 13px;
  right: 7px;
  background: url("../img/icons/select-arrow.png") no-repeat;
  width: 14px;
  height: 8px;
}
.selectize-control.single .selectize-input:hover:after {
  background: url("../img/icons/select-arrow-blue.png") no-repeat;
}
.selectize-control.single .selectize-input.focus:after {
  border-width: 0px;
  background: url("../img/icons/calendar-up-hover.png") no-repeat;
}
.selectize-dropdown {
  margin-top: 0px;
  box-shadow: none;
  border: solid #424549;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px;
}
.field__in_invalid .selectize-input {
  border-color: #f00;
}

.Switch {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
}
.Switch .SwitchButton {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  height: 30px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 30px;
  transition: left 0.2s;
}
.Switch .SwitchButton-Checked {
  left: 20px;
}

.ValidationError {
  position: absolute;
  top: 37px;
  right: -2px;
  border: 1px solid #cdcdcd;
  padding: 10px 20px;
  background: #f04244;
  font-size: 14px;
  color: #fff;
  z-index: 1000;
  white-space: pre;
}
.ValidationError:before {
  content: "";
  position: absolute;
  right: -1px;
  top: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 0 0 9px;
  border-color: transparent transparent transparent #cdcdcd;
}

.button:disabled {
  border-color: lightgray;
  cursor: default;
  color: lightgray;
}

.details__links .muted_text {
  display: block;
  padding-left: 30px;
  font-size: 13px;
  color: #D1D2D1;
}

.article_meta {
  margin-bottom: 15px;
  font-size: 13px;
}

.article_meta .article_meta__type {
  padding: 3px 5px;
  color: #fff;
}

.article_meta .article_meta__type.is-blue {
  background: #00acdb;
}

.article_meta .article_meta__type.is-green {
  background: #2269c8;
}

.content .article_opinion_date {
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 13px;
}

.opinion_expert {
  margin-bottom: 10px;
}

.opinion_expert__img {
  width: 94px;
  height: 94px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.opinion_expert__img img {
  display: block;
  border-radius: 50%;
}

.opinion_expert__data {
  display: inline-block;
  vertical-align: middle;
}

.opinion_expert__name {
  font-size: 18px;
}

.opinion_expert__position {
  font-size: 13px;
}

.social_buttons {
  margin-top: 40px;
}

#vk_like {
  clear: none;
  display: inline-block;
}

.fb-like > span {
  height: 26px !important;
  margin-right: 15px;
}

.tabs a.button {
  box-sizing: border-box;
  text-align: center;
  line-height: 38px;
}

.g-diseases .g-diseases__row a {
  position: relative;
  display: block;
  height: 60px;
  padding: 0 10px 0 30px;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  font-family: "SegoeWPLight", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  line-height: 52px;
  box-sizing: border-box;
}

.g-diseases .g-diseases__row a:hover {
  background: white;
  color: #2269c8;
}

.g-diseases .g-diseases__row a:after {
  content: "";
  position: absolute;
  top: -1500px;
  right: -2px;
  height: 1498px;
  border-left: 1px dashed #fcd9a5;
}

.map {
  min-height: 400px;
}

.icon-dash-circle-big {
  color: #46bdaf;
}
.icon-dash-circle-big:before {
  content: "\e82e";
  /*
  width: 50px;
  height: 50px;
  background: url("/img/icons/icon-dash-circle-big.png");
  */
}
.social li {
  margin-left: 0;
}

.range.has-null-value {
  width: 80%;
  float: right;
}

.range .range__null {
  position: absolute;
  width: 26%;
  left: -26%;
}

.range .range__null span {
  position: absolute;
  left: -35px;
}

.range .range__null i {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  margin-left: 1px;
  vertical-align: top;
  border-bottom: 2px solid black;
}

.range .range__null i:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 4px;
  left: 0;
  background: #000000;
}

.range .range__null i:after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -10px;
  height: 2px;
  width: 10px;
  background: #000000;
}

.range .range__val {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  background: #2269c8;
  border-radius: 50%;
  line-height: 27px;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

.soc-widget .soc-widget__in {
  padding: 0px;
}

.soc-widget__item__tw iframe {
  margin: 0 !important;
}

.report .report__send-in {
  position: absolute;
  top: 35px;
  right: -10px;
  width: 185px;
  padding: 10px;
  background: white;
  text-align: center;
  border: 1px solid #cdcdcd;
}

.report .report__send-in:before {
  content: "";
  position: absolute;
  top: -9px;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 0 0 9px;
  border-color: transparent transparent transparent #cdcdcd;
}

.soc-widget__in {
  overflow: hidden;
}

.links .is-active, .nav .is-active {
  background: #1077e0;
  color: white;
}

.weight__value, .arterial-pressure__value {
  font-size: 18px;
}

.weight__units {
  font-size: 14px;
  padding-left: 10px;
}

/* old styles START */

.activity { background: #e8e8e8; }

.activity__table { display: table; padding: 20px 50px; }

.activity__row { display: table-row; }
.activity__row:first-child .activity__cell { padding: 0 0 0 50px; }
.activity__row:first-child .activity__cell:first-child { padding: 0; }

.activity__cell { display: table-cell; padding: 20px 0 0 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.activity__cell:first-child { padding: 20px 0 0 0; }
.activity__cell.is-active a { background: #2269c8; color: white; }
.activity__cell.is-active a:after { display: none; }
.activity__cell a { position: relative; display: block; padding: 1px 25px 1px 10px; font-size: 16px; color: #414141; }
.activity__cell a:hover { color: #2269c8; }
.activity__cell a:hover:after { background-position: 0 -2829px; }

.page { padding: 0px 30px 20px 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.page_narrow { padding: 20px 40px; }
.page_step-1 { min-height: 522px; }
.page_step-2 { min-height: 589px; }
.page_step_3 { background: #b779e0; }
.page_step_3.is-red { background: #d45e98; }


.title_level-2 { margin-bottom: 20px; font-size: 20px; }
.title_level-2 .icon-bell { position: absolute; top: 4px; left: 0px; }

.info__item { border-top: 1px solid #d9d9d9; }
.info__item .content { padding-top: 15px; }

.info__cholesterol { padding: 10px 10px 15px; }
.info__cholesterol .title { position: relative; padding-left: 25px; margin-bottom: 10px; }
.info__cholesterol .title .ico-bell { position: absolute; top: 2px; left: 0; }

.info__cholesterol-info { font-weight: bold; color: black; }

.info__md { padding: 15px 10px 20px; }

.info__md-title { position: relative; padding-left: 23px; margin-bottom: 15px; }
.info__md-title .ico-md { position: absolute; top: -1px; left: 0; }

/* old styles END */